In [ ]:
import pandas as pd
from urllib.parse import quote
from sqlalchemy import create_engine, text
from pathlib import Path
import numpy as np
from underthesea import text_normalize

In [ ]:
# output_117 = pd.read_csv('/Users/dinhvan/Projects/Code/crawl_data/selenium/ma_so_thue/dnm/output_dnm_1.csv', dtype = str)
# output_210 = pd.read_csv('/Users/dinhvan/Projects/Code/crawl_data/selenium/ma_so_thue/dnm/output_dnm_2.csv', dtype=str)
# output = pd.concat([output_117,output_210], ignore_index=True)
# output.loc[output['Trạng thái'].isna()]

In [ ]:
""" Doanh nghiep hien huu processing """
# dhsxkd_all = pd.read_csv("072022.csv", sep="|")
# dhsxkd_all.columns

In [ ]:
# sqlEngine = create_engine(
#     "mysql+pymysql://root:%s@172.16.10.112:3306/hkd" % quote("Ptdl@123"))
# sqlEngine = create_engine("mysql+pymysql://root:@127.0.0.1:3306/bid")
# for i,chunk in enumerate(pd.read_csv("062022.csv", sep="|", chunksize=50000)):
# 	chunk.to_sql(name="exist_clients", index=False, con=sqlEngine, if_exists="append")

In [ ]:
# query_origin = "SELECT DISTINCT mst, client_status FROM gdt_origin"
# clients_origin_sql = pd.read_sql(query_origin, con=sqlEngine)
# clients_origin_dict = dict(zip(clients_origin_sql.mst, clients_origin_sql.client_status))

# dhsxkd_temp = dhsxkd_all[['TENTINH', 'TEN_QUAN', 'TEN_PHUONG', 'TEN_KH', 'MST', 'DIACHI_KH', 'TENNGANHNGHE', 'LOAI_KH', 'TRANGTHAI_TB']]
# dhsxkd_temp['MST'] = dhsxkd_temp['MST'].str.strip()
# dhsxkd_temp['MST'] = dhsxkd_temp['MST'].str.upper()
# dhsxkd_temp.drop_duplicates(subset=['MST'], inplace=True)
# dhsxkd_temp['client_source'] = 1

In [ ]:
# def cast_mst(mst, trang_thai):
# 	action_type = 'none'
# 	if mst in clients_origin_dict.keys():
# 		if trang_thai == clients_origin_dict[mst]:
# 			action_type = 'update'
# 	else:
# 		action_type = 'insert'
	
# 	return action_type

In [ ]:
# dhsxkd_temp['type'] =  dhsxkd_temp.apply(lambda x: cast_mst(x['MST'], x['TRANGTHAI_TB']), axis=1)
# dhsxkd_temp.rename(columns={'TENTINH':'tinh', 'TEN_QUAN':'huyen', 'TEN_PHUONG':'xa', 'TEN_KH':'name', 'MST':'mst', 'DIACHI_KH':'dia_chi_kd', 'TENNGANHNGHE':'nganh_nghe', 'TRANGTHAI_TB':'client_status', 'LOAI_KH':'client_type'}, inplace=True)
# dhsxkd_temp.drop(dhsxkd_temp.loc[dhsxkd_temp['mst'] == 'KHÔNGCÓ'].index, inplace=True)
# dhsxkd_temp

In [ ]:
# dhsxkd_insert = dhsxkd_temp[dhsxkd_temp['type'] == 'insert']
# dhsxkd_update = dhsxkd_temp[dhsxkd_temp['type'] == 'update']
# if dhsxkd_insert.shape[0] > 0:
# 	dhsxkd_insert.drop(['type'], axis=1, inplace=True)
# 	dhsxkd_insert.to_sql(name="gdt_origin", index=False, con=sqlEngine, if_exists="append")

# if dhsxkd_update.shape[0] > 0:
# 	dhsxkd_update.drop(['type'], axis=1, inplace=True)
# 	dhsxkd_update.to_sql(name="temp_dhsxkd", index=False, con=sqlEngine, if_exists="replace")
# 	query = """UPDATE gdt_origin as f INNER JOIN temp_dhsxkd AS t ON t.mst = f.mst SET f.client_type = t.client_type, f.client_source = t.client_source, f.client_status = t.client_status WHERE t.mst = f.mst"""
# 	with sqlEngine.begin() as conn:
# 		conn.execute(query)

In [ ]:
""" Doanh nghiep moi processing """
# current_path = globals()['_dh'][0]
# path = Path(current_path)
# parent_path = path.parent.absolute()

# sqlEngine = create_engine(
#     "mysql+pymysql://root:%s@172.16.10.112:3306/hkd" % quote("Ptdl@123"))


# query_origin = "SELECT DISTINCT mst, client_status FROM gdt_origin"
# clients_origin_sql = pd.read_sql(query_origin, con=sqlEngine)
# clients_origin_dict = dict(zip(clients_origin_sql.mst, clients_origin_sql.client_status))

# query_new_mst = "SELECT id, city as tinh, street as huyen, district as xa, vi_name as name, mst, location as dia_chi_kd, business as nganh_nghe, enterprise_type as client_type FROM clients"
# clients_new_sql = pd.read_sql(query_new_mst, con=sqlEngine)
# clients_new_sql['mst'] = clients_new_sql['mst'].str.lstrip("'")
# clients_new_sql['mst'] = clients_new_sql['mst'].str.extract('(\d+)')
# clients_new_sql.drop_duplicates(subset=['mst'], inplace=True)
# clients_new_sql['client_source'] = 2
# clients_new_sql['client_status'] = "Đang hoạt động"
# clients_new_sql['type'] =  clients_new_sql.apply(lambda x: cast_mst(x['mst'], x['client_status']), axis=1)
# dhsxkd_insert = clients_new_sql[clients_new_sql['type'] == 'insert']

# if dhsxkd_insert.shape[0] > 0:
# 	dhsxkd_insert.drop(['type', 'id'], axis=1, inplace=True)
# 	dhsxkd_insert.to_sql(name="gdt_origin", index=False, con=sqlEngine, if_exists="append")

In [ ]:
""" Du lieu mua """
# khdn_df = pd.read_excel('KHDN.xlsx') 
# dn_vnn_2021_df = pd.read_excel('../data/DN_VNN_2021.xlsx', dtype=object, skiprows=[0,1])
# gdt_origin_df = pd.read_csv('../data/gdt_origin.csv')

In [ ]:

# khdn_df.drop_duplicates(subset=['PHONE', 'EMAIL', 'MST'], keep="first", inplace=True)
# khdn_copy = khdn_df.copy()
# khdn_copy["name_giam_doc"] = khdn_copy.apply(lambda x: x["TEN"] if "đốc" in x["CHUC_DANH"] else "", axis=1)
# khdn_copy["name_ke_toan"] = khdn_copy.apply(lambda x: x["TEN"] if "toán" in x["CHUC_DANH"] else "", axis=1)
# khdn_copy["phone_giam_doc"] = khdn_copy.apply(lambda x: x["PHONE"] if "đốc" in x["CHUC_DANH"] else "", axis=1)
# khdn_copy["phone_ke_toan"] = khdn_copy.apply(lambda x: x["PHONE"] if "toán" in x["CHUC_DANH"] else "", axis=1)
# khdn_copy["email_giam_doc"] = khdn_copy.apply(lambda x: x["EMAIL"] if "đốc" in x["CHUC_DANH"] else "", axis=1)
# khdn_copy["email_ke_toan"] = khdn_copy.apply(lambda x: x["EMAIL"] if "toán" in x["CHUC_DANH"] else "", axis=1)
# khdn_copy

In [ ]:
# khdn_copy.drop_duplicates(subset=['MST'], keep="last", inplace=True)
# hkd_df = khdn_copy.join(khdn_copy['DIA_CHI_TRU_SO'].str.rsplit(pat=',', n=4, expand=True).rename(columns={0: 'dia_diem', 4:'quoc_gia', 3:'tinh_thanh_pho', 2:'quan_huyen', 1: 'phuong_xa'}))
# idx = hkd_df.index[(hkd_df['quan_huyen'].isnull() | hkd_df['phuong_xa'].isnull()) & hkd_df['tinh_thanh_pho'].notnull()]
# hkd_df.at[idx, ['dia_diem', 'tinh_thanh_pho', 'quan_huyen']] = np.nan
# hkd_df.fillna('', inplace=True)
# hkd_df['PHONE'] = hkd_df['PHONE'].str.replace('.', '')
# hkd_df['PHONE'] = hkd_df['PHONE'].str.replace(' ', '')
# hkd_df.loc[(hkd_df['PHONE'].str.len() != 10) | (hkd_df['PHONE'].str.len() != 11) | (hkd_df['PHONE'] != '')]

In [ ]:
# sqlEngine = create_engine("mysql+pymysql://root:%s@172.16.10.112:3306/hkd" % quote("Ptdl@123"), echo=True)
# sqlEngine = create_engine("mysql+pymysql://root:@127.0.0.1:3306/bid")
# query_origin = "select id, mst from gdt_origin"
# gdt_df = pd.read_sql(query_origin, con=sqlEngine)
# gdt_df = gdt_df[gdt_df['mst'].notnull()]
# gdt_df['mst'] = gdt_df['mst'].str.replace('"', '')
# gdt_df['mst'] = gdt_df['mst'].str.replace('\t', '')

In [ ]:
# hkd_df.rename(columns={'MST':'mst'}, inplace=True)
# hkd_df['mst'] = hkd_df['mst'].str.strip()
# df_all = hkd_df.merge(
#             gdt_df.drop_duplicates(),
#             on=["mst"],
#             how="left",
#             indicator=True,
#         )
# df_all.rename(columns={
# 	'TEN':'nguoi_dai_dien',
# 	'PHONE':'phone',
# 	'EMAIL':'email',
# 	'CHUC_DANH':'chuc_danh',
# 	'TEN_DN': 'name',
# 	'DIA_CHI_TRU_SO': 'dia_chi_kd',
# 	'VON_DKY': 'von_dky',
# 	'SO_LAO_DONG': 'so_lao_dong',
# 	'NGANH_NGHE': 'nganh_nghe',
# 	'phuong_xa':'xa',
# 	'quan_huyen':'huyen',
# 	'tinh_thanh_pho':'tinh'
# }, inplace=True)
# df_all.drop(['dia_diem', 'id', 'ID', 'quoc_gia'], axis=1, inplace=True)
# df_all['so_lao_dong'] = df_all['so_lao_dong'].replace(r'', np.NaN)
# df_all['so_lao_dong'] = df_all['so_lao_dong'].replace(np.nan, 0)
# df_all['so_lao_dong'] = df_all['so_lao_dong'].astype('float').astype('int')
# df_all['von_dky'] = df_all['von_dky'].replace(r'', np.NaN)
# df_all['von_dky'] = df_all['von_dky'].replace(np.nan, 0.0)
# df_all['von_dky'] = df_all['von_dky'].astype('float')
# df_left = df_all[df_all["_merge"] == "left_only"]
# df_both = df_all[df_all["_merge"] == "both"]

In [ ]:
# # sqlEngine = create_engine("mysql+pymysql://root:%s@172.16.10.112:3306/hkd" % quote("Ptdl@123"), echo=True)
# # sqlEngine = create_engine("mysql+pymysql://root:@127.0.0.1:3306/bid")
# df_both.drop(['_merge'], axis=1, inplace=True)
# df_left.drop(['_merge'], axis=1, inplace=True)
# # df_left.to_sql(name="gdt_origin", con=sqlEngine, if_exists="append", index=False)
# df_both.to_sql(name="temp_client", con=sqlEngine, if_exists="replace", index=False)
# query = """UPDATE gdt_origin as f INNER JOIN temp_client AS t ON t.mst = f.mst SET f.phone_giam_doc = t.phone_giam_doc, f.phone_ke_toan = t.phone_ke_toan, f.email_giam_doc = t.email_giam_doc, f.email_ke_toan = t.email_ke_toan, f.name_giam_doc = t.name_giam_doc, f.name_ke_toan = t.name_ke_toan WHERE f.mst = t.mst"""
# with sqlEngine.begin() as conn:
# 	conn.execute(query)

In [ ]:
"""Update enterprise type"""
# query_enterprise = "select id, name from gdt_origin where (name_ke_toan is not null or name_giam_doc is not null) and client_source = 0"
# query_enterprise = "select id,name from gdt_origin where (name like '%công ty%' or name like '%cp%' or name like '%doanh nghiep%' or name like '%dn%') and client_type = 'Hộ kinh doanh cá thể'"
# clients_enterprise_sql = pd.read_sql(text(query_enterprise), con=sqlEngine)

# def get_type_sme(name):
#     result = "Khác"
#     if name != "":
#         if len([x for x in ["tnhh", "trách nhiệm hữu hạn"] if x in name]) > 0:
#             result = "TNHH MTV"
#         elif (
#             len(
#                 [
#                     x
#                     for x in [
#                         "ctcp",
#                         "cổ phần",
#                         "cô phân",
#                         "cp",
#                         "CÔ PHẦN",
#                         "CÔ PHÁN",
#                         "CÔ PHẢN",
#                         "CÔ PHÁẢN",
#                         "CÔ PHAN",
#                         "CÔ PHÁÂN",
# 						"CỔ PHẦN",
# 						"CÔNG TY CỎ PHẦN"
#                     ]
#                     if x.lower() in name
#                 ]
#             )
#             > 0
#         ):
#             result = "CTCP"
#         elif (
#             len(
#                 [
#                     x
#                     for x in [
#                         "Doanh Nghiệp Tư Nhân",
#                         "DNTN",
#                         "Doanh Nghiệp TN",
#                     ]
#                     if x.lower() in name
#                 ]
#             )
#             > 0
#         ):
#             result = "DNTN"
#         elif (
#             len(
#                 [
#                     x
#                     for x in [
#                         "hợp danh",
#                     ]
#                     if x.lower() in name
#                 ]
#             )
#             > 0
#         ):
#             result = "HD"

#     return result

# clients_enterprise_sql["client_type"] = clients_enterprise_sql["name"].apply(
#         lambda x: get_type_sme(x.lower())
#     )

# clients_enterprise_sql.to_sql(name="temp_enterprise", index=False, con=sqlEngine, if_exists="replace")
# query = """UPDATE gdt_origin as f INNER JOIN temp_enterprise AS t ON t.id = f.id SET f.client_type = t.client_type WHERE t.id = f.id"""
# with sqlEngine.begin() as conn:
# 	conn.execute(query)

In [ ]:
# dn_2021_cp = dn_vnn_2021_df.copy()
# dn_2021_children = dn_2021_cp[dn_2021_cp['Mã số thuế 2'] != " "]
# dn_2021_parent = dn_2021_cp[dn_2021_cp['Mã số thuế 2'] == " "]

In [ ]:
# dn_2021_children["MST"] = "'" + dn_2021_children["Mã số thuế"] + "-" + dn_2021_children["Mã số thuế 2"]
# dn_2021_parent["MST"] = "'" + dn_2021_parent["Mã số thuế"]
# dn_2021_mst = pd.concat([dn_2021_children, dn_2021_parent])
# dn_2021_mst.drop_duplicates('MST', inplace=True)
# dn_2021_mst["client_type"] = dn_2021_mst["Tên doanh nghiệp"].apply(
#         lambda x: get_type_sme(x.lower())
#     )
# dn_2021_mst

In [ ]:
# dn_2021_in_gdt = dn_2021_mst[dn_2021_mst['MST'].isin(gdt_origin_df['mst'])]
# dn_2021_not_in_gdt = dn_2021_mst[~dn_2021_mst['MST'].isin(gdt_origin_df['mst'])]

In [ ]:
# dnm_df = pd.read_csv('../data/clients.csv')
# dn_2021_in_dnm = dn_2021_mst[dn_2021_mst['MST'].isin(gdt_origin_df['mst'])]
# dn_2021_not_in_dnm = dn_2021_mst[~dn_2021_mst['MST'].isin(gdt_origin_df['mst'])]

In [ ]:
# dn_2021_not_in_dnm[['MST']].to_csv('mst_crawl.csv', index=False)

In [ ]:
""" Update SME Main Business """
# query_origin = "SELECT DISTINCT id, main_business FROM clients WHERE main_business <> ''"
# clients_origin_sql = pd.read_sql(query_origin, con=sqlEngine)
# clients_origin_sql["main_business"] = clients_origin_sql["main_business"].str.lower()

In [ ]:
# # clients_origin_sql[(~clients_origin_sql["main_business"].str.contains("chi tiết")) & (~clients_origin_sql["main_business"].str.contains("chính"))]
# clients_chi_tiet = clients_origin_sql[(clients_origin_sql["main_business"].str.contains("chi tiết")) & (~clients_origin_sql["main_business"].str.contains("chính"))]
# clients_chinh = clients_origin_sql[clients_origin_sql["main_business"].str.contains("chính")]
# clients_chinh["check"] = clients_chinh["main_business"].str.count("\.")
# clients_check = clients_chinh[(clients_chinh["check"] > 1)]
# clients_check[["chinh", "bo"]] = clients_check["main_business"].str.split("chính", n=1, expand=True)

# def get_main_business(business):
# 	businesses = business.split(" ")
# 	for i in range(len(businesses)-1, 0, -1):
# 		if businesses[i].strip(".").isnumeric():
# 			if i != -1:
# 				business = " ".join(businesses[i:])
# 				break
	
# 	return business

# clients_check["chinh"] = clients_check["chinh"].apply(lambda x: get_main_business(x))
# clients_check.to_sql(name="temp_clients", index=False, con=sqlEngine, if_exists="replace")
# query = """UPDATE clients as f INNER JOIN temp_clients AS t ON t.id = f.id SET f.main_business = t.main_business WHERE t.id = f.id"""
# with sqlEngine.begin() as conn:
# 	conn.execute(query)